@{
    ViewData["Title"] = "Gastos Gerais";
}

<h2>Consulta de Gastos Mensais Gerais</h2>
<h5> Abaixo são informados o total gasto dentro do intervalo do mês filtrado.</h5>
<hr />
<h3>Quais Gastos quer consultar?</h3>
<br />

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox"  id="gastoMensalAgua">
  <label class="form-check-label" for="gastoMensalAgua">Água</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" " id="gastoMensalEnergia">
  <label class="form-check-label" for="gastoMensalEnergia">Energia</label>
</div>

