@{
    ViewData["Title"] = "Gastos Gerais";
}

<h2>Consulta de Gastos Mensais Gerais</h2>
<h5> Abaixo são informados o total gasto dentro do intervalo do mês filtrado.</h5>
<hr />
<h3>Quais Gastos quer consultar?</h3>
<br />

<div class="row"> 
    <div class="col-md-4"> 
       <form asp-action="Details"> 

           <div class="form-check">
                <input class="form-check-input" type="checkbox"   value="" >
                <label class="form-check-label" for="gastoMensalAgua">Água</label>
            </div>
           
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" >
                <label class="form-check-label" for="gastoMensalEnergia">Energia</label>
            </div>

             <h3>Selecione o período desejado:</h3>
            <br />

            <div class="form-group">
                <label class="control-label">Data inicial</label>
                <input class="form-control"  value=""  type="date"/>
            </div>

           <div class="form-group ">
                <label  class="control-label">Data final</label>
                <input class="form-control input-group-sm"  value="" type="date" />
            </div>
            <br />
           <div class="form-group">
                <input type="submit" value="Consultar" class="btn btn-default" />
           </div>
        </form>
    </div>
</div>